<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Sqlite连接字符串 开发环境-->
		<add key="sqliteConnDev" value="data source= C:\\Users\\hema\\Desktop\\test1.db" />
		<!--Sqlite连接字符串 生产环境-->
		<add key="sqliteConnPro" value="data source= C:\\Users\\hema\\Desktop\\test2.db" />
	</appSettings>
</configuration>